body {
    background-color: antiquewhite;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.inverted {
    background-color: gray;
}
blockquote p {
    font-style: italic;
}
table, th, td {
    border: 3px dotted #111;
    border-collapse: collapse;
    text-align: center;

}
img {
    border: 1px dashed #555;
}
